body {
    width: 100%;
    background-color: rgb(29, 50, 50);
    color: whitesmoke;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: wheat;
}

h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: wheat;
}

a {
    font-size: 1rem;
    text-decoration: underline;
    padding: 10px 20px;
}

header {
    height: 50px;
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}

.content {
    width: 100%;
    align-self: flex-end;
    padding-bottom: 50px;
}

.welcome {
    background: url(./imgs/jonathan-borba-PYGJTy2KzHU-unsplash.jpg) rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: bottom;
    background-size: cover;
}

.introclass {
    background: url(./imgs/matthew-fournier-Yt1paNFp00s-unsplash.jpg) rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.membership {
    line-height: 0.5rem;
    height: auto;
    flex-direction: column;
}

.imgcontainer {
    flex-direction: row;
    flex-wrap: wrap;
    grid-auto-flow: column 250px;
}

.imgcontainer img {
    width: 500px;
    height: 250px;
    object-position: center;
    object-fit: cover;
    padding: 5px;
}

@media only screen and (max-width: 1048px) {
    .imgcontainer img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }

@media only screen and (max-width: 640px) {
    .imgcontainer img {
        margin: 2px -1px;
        width: 49%;
      }
}

footer {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}